language: python
cache: pip
jobs:
  include:
    - python: '2.7'
    - python: '3.5'
    - python: '3.6'
    - python: '3.7'
    - python: '3.8'
    - python: '3.9'

# command to install dependencies
install: pip install -r requirements.txt
# command to run tests
script: python -m unittest tests.tests
